* {
    margin: 0;
    padding: 0;
}
.selectable, input, textarea {
    -webkit-user-select: auto;
}
a {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html, body{
	overflow-x: hidden;
    -webkit-user-select: none;
    -webkit-text-size-adjust: none;
    -webkit-perspective: 800;
    -webkit-transform-style: preserve-3d;
	background: #000;
    font-family: Helvetica;
    height:100%;
    display: table;
    width: 100%;
}

canvas{

}

#content {
    display: table-cell;
    text-align: center;
    vertical-align: middle
}

