/* Makeshift CSS Reset */
{
	margin: 0;
	padding: 0;
}

html{
	overflow: hidden;
	border-radius: 12px;
}

/* Tell the browser to render HTML 5 elements as block */
header, footer, aside, nav, article {
	display: block;
}

canvas{
	box-shadow: 0 0 6px 6px #222;
}

body {
	text-align: center;
	margin: 0 auto;
	font: 13px/22px Helvetica, Arial, sans-serif;
	background-image: url(marble.jpg);

}



