body {
    background-image: url('../img/textured.png');
}

h1 {
    font-family: 'Dosis', sans-serif;
    font-weight: 300;
    font-size: 48px;
    margin-bottom: 20px;
}

.bold {
    font-weight:200;
    color: rgba(255,255,255,0.9);
    text-shadow: 1px 1px 2px rgba(82,82,82,1);
    filter: dropshadow(color=rgba(82,82,82,1), offx=1, offy=1);
}

h2 {
    font-family: 'Dosis', sans-serif;
    font-weight: 300;
    font-size: 32px;
    margin-bottom: 30px;
}

h3 {
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 5px;
}

p {
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    line-height: 1;
    font-size: 18px;
}

small {
    color: #999;
    line-height: 1;
    font-size: 12px;
}

#box {
    background-color: rgba(106,106,106,0.9);
    -moz-box-shadow: 0 0 52px rgba(26,26,26,0.95);
	-webkit-box-shadow: 0 0 52px rgba(26,26,26,0.95);
	box-shadow: 0 0 52px rgba(26,26,26,0.95);
    padding: 30px 25px;
    margin-top: 120px;
    text-align:center;
}

.arrow {
    border-top: 5px solid rgba(249, 160, 33, 0.9)!important;
}

.popover-inner {
    padding: 1px;
    width: 200px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow:  0px 2px 2px 2px rgba(138, 119, 0, 0.1);
    box-shadow:  0px 2px 2px 2px rgba(138, 119, 0, 0.1);
    background-color: rgba(249, 160, 33, 0.9);
    border: 1px solid rgba(186, 111, 4, 0.1);
}

.popover-title {
    display: none;
}

.popover-content {
    padding: 10px;
    background-color: rgba(249, 248, 242, 1);
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
input[type="text"] {
    max-width: 280px;
}
input[type="text"]:focus {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(249, 160, 33, 0.6);
}
@media (max-width: 979px) {
    input[type="text"], input[type="submit"] {
        margin-bottom: 8px;
    }
}
@media (max-width: 768px) {
    h1 {
        line-height: 1.1em;
    }
}